/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 2rem 0;
}

i {
  color: white;
}

footer {
  border-top: 10px solid;
  border-color: #00aeff;
}

/* Index */

header.masthead {
  position: relative;
  background: url("../img/banner.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 3rem;
  padding: 8rem 0;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

header.masthead h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

@media (min-width: 768px) {
  header.masthead {
    padding: 12rem 0;
  }

  header.masthead h1 {
    font-size: 5rem;
  }

  header.masthead h3 {
    font-size: 1.5rem;
  }
}

.announcements {
  background-image: linear-gradient(90deg, #f32727, #8f2b2b);
}

.carousel-item {
  min-height: 100px;
}


#dojo,
#sensei,
#membership {
  position: absolute;
  top: -100px;
}

/* About */

.banner {
  margin-top: 3rem;
  height: 250px;
  background-image: linear-gradient(90deg, #f32727, #8f2b2b);
}

.affimg {
  width: 200px;
  height: 200px;
}
